<% include header %>

<head>
<style>
background-color: #E6E6FA;
</style>
</head>
<body>
<h1> ABOUT: </h1>

<p>
My site allows for the tracking of rich people and their heirs and companys. 
<br>


It is developed purely by BiggerData Co encorporated, run solely by Ceo Michael Davis.
<br>


Michael Davis's Contact Info: 
<br>Email: Dessy@gmail.com
<br>Phone: 1-925-963-6326
</p>

</body>


<% var hideBackLink = true; %>
<% include footer %>
