<% include header %>
<form method="POST" action="/user/Spouse3">
    <table id="login">
    
    	<tr><td>New Spouses ID:</td>
            <td><input type="text" id="SpouseID" name="SpouseID" ></td>
        </tr>
            <!-- name attribute must be provided for non ajax forms -->
            <td><input type="hidden" id="PersonID" name="PersonID" value="<%=rs[0].PersonID%>" /></td>
        
        <tr><td>New Spouses Name:</td>
            <td><input type="text" id="SpouseName" name="SpouseName" /></td>
            
		

    </table>
    <input type="submit">
</form>

<% include footer %>
