<% include header %>

Submitted Data
    <table id="login">
	<tr><td>SigPerson: </td>
            <td><%= personid %></td>
        </tr>
    <tr><td>Name: </td>
            <td><%= name %></td>
        </tr>
   
        <tr><td>YearCreated: </td>
            <td><%= yearcreated %></td>
        </tr>

    </table>
<% include footer %>
