<% include header %>

Submitted Data
    <table id="login">
	<tr><td>Money: </td>
            <td><%= money %></td>
        </tr>
        <tr><td>First Name: </td>
            <td><%= firstname %></td>
        </tr>
        <tr><td>Last Name: </td>
            <td><%= lastname %></td>
        </tr>
		<tr><td>State Of Residence: </td>
            <td><%= stateofresidence %></td>
        </tr>

    </table>
<% include footer %>
