<% include header %>

Submitted Data
    <table id="login">
	<tr><td>SigPerson: </td>
            <td><%= personid %></td>
        </tr>
    <tr><td>SpouseName: </td>
            <td><%= spousename %></td>
        </tr>
   
        <tr><td>Your Spouse's SpouseID: </td>
            <td><%= spouseid %></td>
        </tr>

    </table>
<% include footer %>
