<% include header %>

Submitted Data
    <table id="login">
        <tr><td>AccountID: </td>
            <td><%= accountID %></td>
        </tr>
        <tr><td>Tweet: </td>
            <td><%= post %></td>
        </tr>
        <tr><td>Retweet Count: </td>
            <td><%= retweet %></td>
        </tr>
