<% include header %>

Submitted Data
    <table id="login">
        <tr><td>Wealth: </td>
            <td><%= money %></td>
        </tr>
        <tr><td>FirstName: </td>
            <td><%= firstname %></td>
        </tr>
        <tr><td>LastName: </td>
            <td><%= lastname %></td>
        </tr>
        <tr><td>State of residence: </td>
            <td><%= stateofresidence %></td>
        </tr>

    </table>
<% include footer %>
