<% include header %>
	Choose Your Own Account To Add Friends To!
	<% if ( rs.length > 0) { %>
	<form method="get" action="/user/Spouse2">
		<label for="PersonID">Users</label>
		<select id="PersonID" name="PersonID">
			<%for (var i=0; rs.length > i; i++){ %>
			<option value="<%=rs[i].PersonID %>">
				<%= rs[i].FirstName %>
               	<%= rs[i].LastName %>

			</option>
			<% } %>
		</select>
		<input type="submit" >
		</form>
		<% } else { %>
			No users are entered into the database.
		<% } %>
<% include footer %>
