<!DOCTYPE HTML>
<html>
<head>
    <title>BiggerData Co, SigPeople</title>
</head>
<body>
<header>
    <h1>SigPeople and Data</h1>
    <h2><%= locals.settings.subtitle %></h2>
</header>
<div id="content">
