<% include header %>
<form method="POST" action="/user/Heir3">
    <table id="login">
    
    	<tr><td>New Heirs Age:</td>
            <td><input type="text" id="Age" name="Age" ></td>
        </tr>
       <tr><td>New Heirs FirstName:</td>
            <td><input type="text" id="FirstName" name="FirstName" ></td>
        </tr>
       <tr><td>New Heirs LastName:</td>
            <td><input type="text" id="LastName" name="LastName" ></td>
        </tr>
 
            <!-- name attribute must be provided for non ajax forms -->
            <td><input type="hidden" id="PersonID" name="PersonID" value="<%=rs[0].PersonID%>" /></td>
        
            
		

    </table>
    <input type="submit">
</form>

<% include footer %>
