<% include header %>

Submitted Data
    <table id="login">
	<tr><td>SigPerson: </td>
            <td><%= personid %></td>
        </tr>
   <tr><td>Age: </td>
            <td><%= age %></td>
        </tr>

   <tr><td>FirstName: </td>
            <td><%= firstname %></td>
        </tr>
   
        <tr><td>LastName: </td>
            <td><%= lastname %></td>
        </tr>
        
    </table>
<% include footer %>
