<% include header %>
<style>
body {
  text-align: center;
 }

#page-wrap {
  text-align: left;
  width: 800px;
  margin: 0 auto;
}
</style>
<body bgcolor="#E6E6FA">
<img src="http://files.shroomery.org/files/11-26/964937850-money.gif" alt="Mountain View" style="width:304px;height:228px">
            <ol>
               <li><a href="/user/create">Add a Rich Person to our database.</a></li>
               <li><a href="/user/Heir">Add a Heir.</a></li>
               <li><a href="/user/Spouse">Add a Spouse.</a></li>
              <li><a href="/user/Product">Add a Product.</a></li>
 
               <li><a href="/user/Company">Add a Company.</a></li>
               <li><a href="/user/dropdown">Displays our rich poeple in a dropdown menu.</a></li>
               <li><a href="/user/edituser">Edit a Significant Person's data</a> - Update User Info</li>

              
                
                <li><a href="/user/TopTen">TopTen People</a></li>

 
            </ol>
</body>

<% var hideBackLink = true; %>
<% include footer %>
