<% include header %>
<form method="POST" action="/user/Product3">
    <table id="login">
    
    	<tr><td>Price:</td>
            <td><input type="text" id="Price" name="Price" ></td>
        </tr>
            <!-- name attribute must be provided for non ajax forms -->
            <td><input type="hidden" id="PersonID" name="PersonID" value="<%=rs[0].PersonID%>" /></td>
        
        <tr><td>Name:</td>
            <td><input type="text" id="Name" name="Name" /></td>
       <tr><td>Type:</td>
            <td><input type="text" id="Type" name="Type" /></td>
     
		

    </table>
    <input type="submit">
</form>

<% include footer %>
