<% include header %>

<form method="POST" action="<%= action %>">
    <table id="login">
	<tr><td>Money:</td>
            <!-- name attribute must be provided for non ajax forms -->
            <td><input type="text" id="money" name="money" /></td>
        </tr>

        <tr><td>FirstName:</td>
            <!-- name attribute must be provided for non ajax forms -->
            <td><input type="text" id="firstname" name="firstname" /></td>
        </tr>
        <tr><td>LastName:</td>
            <td><input type="text" id="lastname" name="lastname" /></td>
        </tr>
        <tr><td>StateofResidence:</td>
            <td><input type="text" id="stateofresidence" name="stateofresidence" /></td>
        </tr>

    </table>
    <input type="submit">
</form>

<% include footer %>
